.dropdown{
    position: absolute;
    background-color: #2F343C;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
    border: 1px solid gray;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.dropdown-menuItem{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.dropdown-menuItem:hover{
    background-color: #0C8CE9;
    cursor: pointer;
}
.dropdown-menuItem-icon{
    height: 1.25rem;
    margin-right: 0.5rem;
}
.dropdown-menuItem-description{
    color:aliceblue
}