.preferences-wrapper{
    background-color: #004054;
    position: absolute;
    padding: 1rem;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45vw;
    height: 50vh;
    border-radius: 0.25rem;
    color: white;
}
.preferences-heading{
    text-align: center;
}
.preferences-option{
    display: flex;
    align-items: center;
    background-color: aqua;
}
.input{
    margin-left: 1rem;
}