.wrapper-icons{
    height:3rem;
    width: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper-icons:hover{
    background-color: #0C8CE9;
}
.img-content{
    height: 1.25rem;
}


.wrapper-icons-dd{
    height:3rem;
    width: 3rem;
    display:flex;
    align-items: center;
    padding-left: 6px;
    cursor: pointer;
}
.wrapper-icons-dd:hover{
    background-color: #0C8CE9;
}
.img-content-dd{
    height: 1.25rem;
}
.dropdown-icon{
    height: 0.375rem;
    margin-left: 3.25px;
}
.dropdown-container{
    height: 48px;
    display: flex;
    align-items: center;
}
.dropdown-container:hover{
    padding-top: 5px;
}