.canvas{
    background-color: #004054;
    height: 93vh;
    width: 100vw;
    margin-left: 307.2px;
}
.status-bar{
    position: absolute;
    bottom: 0;
    height: 4vh;
    background-color: #333333;
    color: white;
    margin-left: 307.2px;
    padding: 5px;
    width: 100vw;
    display: flex;
    justify-content: start;
}